environment                         = "development"
network_cidr                        = "10.10.0.0/16"
server_instance_size                = "small"
server_replicas                     = 1
server_container_image              = "ghcr.io/dugble/server:development"
database_instance_size              = "small"
database_version                    = "17"
database_backup_retention_days      = 1
redis_instance_size                 = "small"
redis_high_availability             = false
r2_retention_days                   = 7
r2_location                         = "WEUR"
vercel_project_name                 = "dugble-development"
vercel_root_directory               = "web"
vercel_production_branch            = "main"
vercel_domains                      = []
identity_container_image            = "ghcr.io/dugble/identity:development"
identity_cpu                        = 1
identity_memory_mb                  = 1024
identity_gpu_enabled                = false
